.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

form {
  margin-top: 40px;
  margin-bottom: 20px;
}

input, button {
  font-size: 18px;
}

input {
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
}

input.error {
  border: 1px solid crimson;
}

.error-message {
  color: crimson;
}

button {
  padding: 5px 10px;
  color: white;
  background-color: rgb(72, 72, 163);
  border: 1px solid rgb(72, 72, 163);
  border-radius: 5px;
}

button:disabled {
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(126, 126, 175);
  border: 1px solid  rgb(126, 126, 175);
}

.result {
  font-size: 22px;
}